.dashboard {
    width: 100vw; /* Use full width */
    height: 100vh;
    display: flex;
    justify-content: end;
    background: linear-gradient(to left, rgba(255, 218, 185, 0.295), rgba(255, 255, 255, 0.5),rgba(255, 218, 185, 0.295));
    
}

.dashboard-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1rem;
    width: 20rem;
    height: 100%;

}




.dashboard-header {
    background: linear-gradient(to right, #fffbd5, #ffffff);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    overflow: hidden;
}

/* .dashboard-header img{
    position: absolute;
    object-fit: contain;
} */

.dashboard-header:hover {
    transform: scale(1.05);
}

.dashboard-header-user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
}

.dashboard-header-username {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.dashboard-header-user-container {
    width: 80px;
    height: 80px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(48, 48, 48);
}

.dashboard-header-user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}




.dashboard-write-blog-setting{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    gap: 1rem;
}


.dashboard-write-blog {
    width: 50%;
    background: linear-gradient(to left, #e0fff4, #f9f9f9);
    transition: transform 200ms ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    ;
}

.dashboard-write-blog:hover {
    transform: scale(1.1);
}

.dashboard-write-blog img {
    position: absolute;
    width: 8rem;
    right: -4rem;
    bottom: 0;
    z-index: 1;
}

.dashboard-write-blog p {
    text-align: center;
    z-index: 2;
    font-size: 1.2rem;
    font-weight: 700;
}

.dashboard-blogs-your-articles {
    width: 100%;
    background: linear-gradient(to right, #d9faff, #f3f9ff);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 250px;
    /* or whatever height suits you */
    padding: 1rem;
    transition: transform 200ms ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.dashboard-blogs-your-articles:hover {
    transform: scale(1.03);
}

.dashboard-blogs-your-articles-header {
    font-size: 1.2rem;
    font-weight: 700;
}

.see-all-container{
    text-align: right;
}

.see-all{
    cursor: pointer;
    font-weight: 500;
}




.dashboard-blogs-marked-articles {
    width: 100%;
    background: linear-gradient(135deg, #dcffd1, #f1f1f1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 250px;
    /* or whatever height suits you */
    padding: 1rem;
    transition: transform 200ms ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dashboard-blogs-marked-articles:hover {
    transform: scale(1.03);
}

.dashboard-blogs-marked-articles p {
    font-size: 1.2rem;
    font-weight: 700;
}

.user-blogs-list-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
}

.user-blogs-list{
    font-size: 0.8rem;
}




.dashboard-blogs-setting {
    width: 50%;
    background: linear-gradient(to left, #f9f9f9, #e0eafc);
    transition: transform 200ms ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.dashboard-blogs-setting:hover {
    transform: scale(1.1);
}

.dashboard-blogs-setting img {
    position: absolute;
    width: 8rem;
    left: -2rem;
    z-index: 1;
}

.dashboard-blogs-setting p {
    z-index: 2;
    font-size: 1.2rem;
    font-weight: 700;
}

















/*outlet*/


.dashboard-outlet {
    position: relative;
    width: 80%;
    overflow-y: scroll;
    padding-left: 2rem;
}

.close-btn {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}

.close-icon {
    width: 3rem;
    height: 3rem;
}